# RPC (See https://chainlist.org)
RPC_URL=wss://mainnet.gateway.tenderly.co

################################
# Deploy
################################
# Ethereum address receiving the fees (recipient of CoW order)
RECEIVER=

# ERC20 address of the buyToken in which you want to convert the fees into
TO_TOKEN=

# Module maintainer, only account with permission to execute the drip/approve/revoke on the Safe module
KEEPER=

# CoW Protocol settlement contract address (see https://github.com/cowprotocol/contracts/blob/main/networks.json)
SETTLEMENT=0x9008D19f58AAbD9eD0D60971565AA8510560ab41

# byte32 hex with the app-data value (part of the CoW's order struct). Contains the hashed content of the order's meta-data 
# Check here how to make your own value: https://explorer.cow.fi/appdata
APP_DATA=0xbcca8463f460f14bca0185afeeb75923ee4434612f41063d0171b1e743ffe84b

# Safe address (IMPORTANT: This safe must also be a whitelisted solver)
TARGET_SAFE=

# Minimum amount of TO_TOKEN (in atoms) to accept as the buyAmount of the orders (fees which drip less won't be extracted)
MIN_OUT=